@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.sibaground {
  background-image: linear-gradient(#ccffcc, white);
}
.fontJudul {
  font-family: 'Roboto', sans-serif;
}
.bagroundreverse {
  background-image: linear-gradient(white, #e3ffe3);
}
.sisapcesubjudul {
  padding-top: 5%;
}
.sitext {
  color: #506557;
}
.siplaceholder {
  text-align: center;
}

.kasihjarak {
  padding: 5%;
}

.backlagi {
  border-radius: 100px;
  background-color: #e4f1df;
}

/* berita */
.spaciberita {
  padding-top: 5%;
}
.spacekebawahbrita {
  padding-bottom: 5%;
}

/* footer */

/* slishowtentangkami */

.spackosong2 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.tentangkami {
  padding-left: 10%;
  padding-right: 10%;
}

.kasihjarak2 {
  margin: 5%;
}

/* style faq */

.menjorok {
  text-indent: 0.5in;
}
